---
import Social from './Social.astro';

const platform = "github";
const username = "jccrosby";
---

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer>
    <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
    <Social platform="twitter" username="jccrosby" />
    <Social platform="github" username="jccrosby" />
    <Social platform="youtube" username="jccrosby" />
</footer>